header{

    display: flex;
    padding: 0.5rem 2rem;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
    background-color: transparent;
}

nav{
    display: flex;
    gap: 28px;
    align-items: center;
}
.login-btn{
    border: 1px solid red;
    border-radius: 2px;
    padding: 2px 4px;
}