footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    width: 100%;
    padding: 0.5rem;
    background-color: #1f1f1f99;
    font-size: 0.8rem;
    text-align: center;
}
#icon-font{
    font-size: 1.4rem;
    cursor: pointer;
}
#icon-font-click{
    color: red;
    font-size: 1.4rem;
}